<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnist.sharo.dao.AdminMapper">



    <!-- 登录查询 -->
    <select id="login" parameterType="Admin" resultType="Admin">
        SELECT mid, password, name, email, gender, `Call`
        FROM admin
        WHERE mid = #{mid}
          AND password = #{password}
    </select>




</mapper>