:root {
    /*基础蓝色*/
    --blue: #409EFF;
    /*选中蓝色*/
    --blue_ac: #035F91;
    /*灰色边框*/
    --gray: #909399;
    /*淡灰色背景*/
    --gray_bg: #F0F0F0;
    /*基础白色*/
    --white: #FFFFFF;
    /*基础黑色*/
    --black: #000000;
    /*字体大小*/
    --ex_small: 12px;
    --small: 13px;
    --base: 14px;
    --medium: 16px;
    --large: 18px;
    --ex_large: 20px;
    --green: #09F175;
}

html body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.m-container * {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

i {
    font-size: 1rem;
}

.el-tabs__content {
    height: 100%;
}

.m-scrollbar > .el-scrollbar__wrap {
    overflow-x: hidden;
}

.m-dialog-radius {
    border-radius: 10px;
}

.el-scrollbar__view {
    margin-right: 15px;
}

.el-form--inline {
    padding: 10px 0;
    margin-left: 10px;
}

.el-form--inline .el-form-item {
    margin-right: 10px;
}


.el-breadcrumb, span, tr, i, .el-checkbox, .el-button, .el-input, .el-tabs__nav, .el-collapse-item__header, .el-backtop, .el-massage {
    user-select: none !important;
}

.cell {
    user-select: text;
}

.m-container {
    width: 100vw;
    height: 100vh;
    background-size: 100% auto;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 1440px;
    min-height: 510px;
    background: linear-gradient(to bottom, #009ffc 0%, #1DA1F2 45%, #ffffff 45%, #ffffff 100%);
}

.m-menu .el-tabs__header.is-left .el-tabs__item {
    height: auto;
    padding: 0;
    font-size: var(--medium);
    text-align: center !important;
}

/*菜单栏第二个选中时不显示上边框,因为已经菜单栏第一个下边框是一直显示的*/
.m-menu .el-tabs__header.is-left .el-tabs__item:nth-child(2) {
    border-top: none !important;
}

.m-adminMsg {
    width: 250px;
    height: 250px;
    overflow: hidden;
    font-size: var(--base);
    border-bottom: 1px solid #D1DBE5;
}

.m-adminMsg-avatar .el-avatar {
    width: 80px;
    height: 80px;
    border: 1px solid var(--gray);
    position: relative;
}

.m-adminMsg-avatar .el-dropdown {
    height: 0;
    width: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    transform: translate(40px, 40px);
}

.m-adminMsg-avatar .el-dropdown .el-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--green);
}

.m-tab {
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

.m-menu {
    width: 90%;
    height: 95%;
    border-radius: 10px;
}

.m-tabs {
    width: 100%;
    height: 100%;
}

.m-tabs-label {
    width: 250px;
    height: 45px;
}

.m-tabs-label-setting {
    margin-top: 300px;
}

.m-manage-user, .m-manage-book, .m-manage-borrow, .m-manage-resource {
    width: 100%;
    height: 100%;
}

.m-search {
    height: 50px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.m-search-pop .el-form--inline {
    margin: 0;
    padding: 0;
}

.m-search-pop-button {
    margin-right: 10px;
}

.m-search-conf-active {
    color: var(--blue_ac);
}

.m-search-pop {
    width: 100%;
}

.m-search-pop .el-input {
    width: 250px !important;
}

.m-search-pop .el-form--inline > .el-form-item {
    margin-bottom: 0;
}

.m-search-pop .el-divider {
    margin: 12px 0;
}

.m-search .el-form--inline > .el-form-item {
    margin-bottom: 0;
}

.m-scrollbar {
    height: 100%;
    width: 100%;
}

.m-scrollbar-form-paging {
    height: calc(100% - 50px);
    width: 100%;
}

.m-scrollbar-form-paging > .m-scrollbar {
    width: 100%;
    height: calc(100% - 50px);
}

.m-scrollbar-form-paging > .el-pagination {
    width: auto;
    height: 100%;
}

.m-paging {
    width: 100%;
    height: 50px;
}

.m-user-msg-drawer, .m-book-msg-drawer, .m-borrow-msg-drawer, .m-paper-msg-drawer {
    padding: 10px 5px 10px 20px;
    height: 100%;
}

.m-user-msg-drawer .el-form, .m-book-msg-drawer .el-form, .m-borrow-msg-drawer .el-form, .m-paper-msg-drawer .el-form {
    width: 500px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid var(--gray_bg);
}

.el-drawer {
    min-width: 570px;
}


.m-user-msg-drawer .el-input, .m-book-msg-drawer .el-input, .m-borrow-msg-drawer .el-input {
    width: 250px;
}

.el-input-number {
    width: auto;
}

.m-book-msg-drawer-imgs {
    margin: 5px 0;
}

.m-book-msg-drawer-imgs .el-input {
    width: 100%;
}

.m-scrollbar-paper {
    padding: 0 15px;
    min-width: 680px;
    height: 100%;
    margin: 0 auto;
}

.m-scrollbar-paper > .m-scrollbar-form-paging {
    padding: 5px;
    border: 1px solid var(--gray_bg) 1px solid var;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}


.m-manage-resource-paper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    height: calc(100% - 30px);
}

.m-manage-resource-paper > div {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}

.m-manage-resource-paper > div:first-child {
    border-right: 1px solid var(--gray_bg);
    position: relative;
    overflow-x: hidden;
    border-radius: 0 10px 10px 0;
}


.m-manage-resource-paper > div:nth-child(2) {
    border-left: 1px solid var(--gray_bg);
    position: relative;
    border-radius: 10px 0 0 10px;
    padding-left: 25px;
}

.m-table-expand label {
    width: 90px;
    color: #99a9bf;
}

.m-table-expand .el-form-item {
    padding-left: 10px;
    width: 100%;
}

.m-table-expand .el-form-item__content {
    width: calc(100% - 100px);
}

.m-table-expand .el-textarea {
    width: 50%;
}

.m-aside-button {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translate(-50%, 50%);
    padding-left: 0;
    padding-right: 0;
}

.m-edit-cont {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--gray_bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    overflow: hidden;
}

#toolbar-container {
    height: auto;
    position: relative;
}

#editor-container {
    height: calc(100% - 130px);
}

.w-e-full-screen-container {
    z-index: 99;
}

.m-edit-func {
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%, -10%);
}

.m-edit-func .el-button {
    margin: 2px 0;
}

.slide-left {
    width: 1% !important;
}

.m-export {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
}

.m-export-title {
    height: 20px;
    margin-bottom: 5px;
    line-height: 20px;
    text-indent: 0.5rem;
    font-size: var(--large);
    font-weight: bold;
    color: var(--blue);
}

.m-export-dictionary {
    width: 100%;
    height: 330px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.m-dictionary-transfer {
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.m-dictionary-input {
    height: 100%;
    width: 320px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.m-dictionary-input > .m-scrollbar {
    padding-top: 10px;
    border: 1px solid var(--gray_bg);
}

.m-export-filter {
    width: 100%;
    margin-bottom: 20px;
}
.m-export-filter >div {
    min-height: 50px;
}
.m-export-filter > div:nth-child(1) {
    margin-bottom: 10px;
}

.m-export > div:last-child {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.m-export >div:last-child > .el-switch {
    margin-right: 10px;
}