:root {
    /*基础蓝色*/
    --blue: #0391DB;
    /*选中蓝色*/
    --blue_ac: #035F91;
    /*灰色边框*/
    --gray: #909399;
    /*淡灰色背景*/
    --gray_bg: #EBEEF5;
    /*基础白色*/
    --white: #FFFFFF;

    /*字体大小*/
    --ex_small: 12px;
    --small: 13px;
    --base: 14px;
    --medium: 16px;
    --large: 18px;
    --ex_large: 20px;

}

html body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.m-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;

}
.m-container * {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}


.m-header {
    width: 100%;
    height: auto;
    background: #0099CC url('http://localhost:8080/library/resources/logo_bk.png') no-repeat 0 0;
    background-size: auto auto;
}

.m-header-bg {
    width: 100%;
    height: 150px;
    background-size: 100% auto;
}
.m-header-bg > div:nth-child(1) {
    width: 300px;
    height: 300px;
    margin-left: 150px;
    background-position: center -50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('http://localhost:8080/library/resources/logo.png')
}

.m-header-nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 10px 0;
}
.m-header-nav .el-menu {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.el-menu.el-menu--horizontal{
    border: none;
    user-select: none;
}
.el-menu--horizontal>.el-menu-item.is-active {
    font-size: var(--medium);
}
.el-menu--horizontal>.el-menu-item {
    width: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.m-body {
    width: 100%;
    min-height: 700px;
}


/*脚部样式*/
.m-foot {
    width: 100%;
    height: 120px;
    background-size: 100% 100%;
    background-image: url("../resources/foot.png");
    background-repeat: no-repeat;
}

.m-foot_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--small);
}

.m-foot_main span {
    color: var(--white);
    line-height: var(--small);
    margin: 5px 0;
}

.m-foot_main span a, .m-foot_main p span {
    color: var(--white);
    line-height: var(--small);
}

