<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书馆概况</title>
    <!-- 项目前缀 -->
    <script th:inline="javascript">
        window.BASE_URL = [[${#request.getContextPath()}]] + '/';
    </script>
    <base th:href="${#request.getContextPath()}+'/'">
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{'/js/element-ui@2.15.7/lib/theme-chalk/index.css'}">
    <link rel="stylesheet" th:href="@{'/css/profile.css'}">
    <!--引入vue-->
    <script th:src="@{'/js/vue/vue.js'}"></script>
    <!-- 引入组件库 -->
    <script th:src="@{'js/element-ui@2.15.7/lib/index.js'}"></script>
    <!--页面js-->
    <script th:src="@{'js/profile.js'}"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="m-container" v-cloak>
    <div class="m-header">
        <div class="m-header-bg">
            <div></div>
        </div>
        <div class="m-header-nav">
            <el-menu
                    :default-active="menuIndex"
                    mode="horizontal"
                    @select="menuSelectHandle"
                    background-color="#0099CC"
                    text-color="#fff"
                    active-text-color="#035F91">
                <el-menu-item index="">首页</el-menu-item>
                <el-menu-item index="profile">图书馆概况</el-menu-item>
                <el-menu-item index="notice">通知公告</el-menu-item>
                <el-menu-item index="route">资源</el-menu-item>
            </el-menu>
        </div>
    </div>
    <div class="m-body">
    </div>
    <div class="m-foot">
        <div class="m-foot_main">
            <span>
                <a href="#">联系我们</a><span>|</span> <a href="#">法律声明</a><span>|</span> <a href="/login.html">后台管理</a><span>|</span>
                <a href="#">旧版网站</a>
            </span>
            <span>
                <label>
                    版权所有：XXX大学信息中心
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                    联系电话：XXX
                </label>
            </span>
            <span>
                <label>
                    地址：XXX
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                    苏ICP备-XXX
                </label>
            </span>
        </div>
    </div>
</div>
</body>
</html>