<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用图书馆借阅系统</title>
    <!-- 引入element样式 -->
    <link rel="stylesheet" href="js/element-ui@2.15.7/lib/theme-chalk/index.css">
    <!-- 引入cropper.css -->
    <link rel="stylesheet" href="js/cropper@1.5.12/cropper.min.css">
    <link rel="stylesheet" href="css/user.css">
    <!--引入vue-->
    <script src="js/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="js/element-ui@2.15.7/lib/index.js"></script>
    <!-- 引入jquery -->
    <script src="js/jquery/jquery@3.6.0.js"></script>
    <!-- 引入cropper.js -->
    <script src="js/cropper@1.5.12/cropper.min.js"></script>
    <!--页面js-->
    <script src="js/user.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="m-container" v-loading.fullscreen.lock="UserPageLoading" v-cloak>
    <div class="m-header">
        <div class="m-title">
            {{ PageTitle }}
        </div>
        <div class="m-user">
            <el-avatar v-if="user.avatar" size="medium"
                       :src="user.avatar"></el-avatar>
            <el-avatar v-else  size="medium"
                       src="https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png"></el-avatar>
            <el-badge class="m-user-msg" :value="12">
                <i class="el-icon-message-solid">收件箱</i>
            </el-badge>

            <el-dropdown class="m-user-quick_menu" trigger="click" size="medium"
                         @command="userCommandHandle">
                <i class="el-icon-user-solid">
                    用户
                    <i class="el-icon-caret-bottom"></i>
                </i>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="changepsw">修改密码</el-dropdown-item>
                    <el-dropdown-item command="outlogin">注销</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>

        </div>
    </div>
    <el-tabs v-model="tabIndex1" class="m-tab" tab-position="left" type="border-card"
             @tab-click="tabClickHandle">
        <el-tab-pane class="m-tabs" label="预约" name="预约">
            <el-breadcrumb class="m-breadcrumb" separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>当前位置</el-breadcrumb-item>
                <el-breadcrumb-item>{{tabIndex1}}</el-breadcrumb-item>
                <el-breadcrumb-item>{{tabIndex2}}</el-breadcrumb-item>
            </el-breadcrumb>
            <el-tabs v-model="tabIndex2" type="border-card" class="m-tab_inline">
                <el-tab-pane class="m-tabs_inline" name="预约座位" label="预约座位">
                    <el-collapse v-model="selectedFloor" accordion class="m-seat-reserve">
                        <el-scrollbar class="m-scrollbar">
                            <el-collapse-item title="预约记录" name="1">
                                <div class="m-seat-reserve-cont">

                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="常用座位" name="2">
                                <div class="m-seat-reserve-cont">
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="座位查询" name="3">
                                <div class="m-seat-reserve-cont m-room-pick">
                                    <el-select v-model="libraryFloorSelect" @change="libraryFloorChangeHandle"
                                               placeholder="请选择">
                                        <el-option label="一层" value="图书馆一楼"></el-option>
                                        <el-option label="二层" value="图书馆二楼"></el-option>
                                        <el-option label="三层" value="图书馆三楼"></el-option>
                                        <el-option label="四层" value="图书馆四楼"></el-option>
                                    </el-select>
                                    <el-scrollbar class="m-scrollbar">
                                        <el-table
                                                :fit="false"
                                                :data="roomList"
                                                border
                                                stripe>
                                            <el-table-column
                                                    prop="name"
                                                    label="名称"
                                                    width="180"
                                                    :resizable="false">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="location"
                                                    label="位置"
                                                    width="180"
                                                    :resizable="false">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="seats"
                                                    label="位子"
                                                    width="90"
                                                    :resizable="false">
                                            </el-table-column>
                                            <el-table-column width="180" label="" :resizable="false">
                                                <template slot-scope="scope">
                                                    <el-button @click="showSeatPickHandle(scope.row)" type="primary">
                                                        选择座位
                                                    </el-button>
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                    </el-scrollbar>
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="违规记录" name="4">
                                <div class="m-seat-reserve-cont">
                                </div>
                            </el-collapse-item>
                        </el-scrollbar>
                    </el-collapse>
                </el-tab-pane>
                <el-tab-pane class="m-tabs_inline" name="预约会议厅" label="预约会议厅">
                    <el-collapse v-model="selectedFloor" accordion class="m-seat-reserve">
                        <el-scrollbar class="m-scrollbar">
                            <el-collapse-item title="预约记录" name="1">
                                <div class="m-seat-reserve-cont">
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="厅室查询" name="2">
                                <div class="m-seat-reserve-cont">
                                </div>
                            </el-collapse-item>
                        </el-scrollbar>
                    </el-collapse>
                </el-tab-pane>
                <el-tab-pane class="m-tabs_inline" name="预约讲座" label="预约讲座">
                    <el-collapse v-model="selectedFloor" accordion class="m-seat-reserve">
                        <el-scrollbar class="m-scrollbar">
                            <el-collapse-item title="预约记录" name="1">
                                <div class="m-seat-reserve-cont">
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="讲座查询" name="2">
                                <div class="m-seat-reserve-cont">
                                </div>
                            </el-collapse-item>
                        </el-scrollbar>
                    </el-collapse>
                </el-tab-pane>
            </el-tabs>
        </el-tab-pane>
        <el-tab-pane class="m-tabs" label="借书" name="借书">
            <el-breadcrumb class="m-breadcrumb" separator-class="el-icon-arrow-right">
                <el-breadcrumb class="m-breadcrumb" separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item>当前位置</el-breadcrumb-item>
                    <el-breadcrumb-item>{{tabIndex1}}</el-breadcrumb-item>
                    <el-breadcrumb-item>{{tabIndex2}}</el-breadcrumb-item>
                </el-breadcrumb>
            </el-breadcrumb>
            <el-tabs v-model="tabIndex2" type="border-card" class="m-tab_inline">
                <el-tab-pane class="m-tabs_inline m-tabs_inline_table" name="已借书籍" label="已借书籍">
                    <div class="m-scrollbar-form-paging">
                        <el-scrollbar ref="borrowListScrollbar" class="m-scrollbar">
                            <el-form :inline="true">
                                <el-select v-model="borrowListSearch.state" :loading="borrowSearchStateBTLoading"
                                           placeholder="请选择" @change="borrowSearchStateChangeHandle">
                                    <el-option label="全部" value=""></el-option>
                                    <el-option label="在借" value="BORROW"></el-option>
                                    <el-option label="已归还" value="RETURN"></el-option>
                                    <el-option label="逾期" value="OVERDUE"></el-option>
                                    <el-option label="其他" value="ACCIDENT"></el-option>
                                </el-select>
                            </el-form>
                            <el-table
                                    v-loading="borrowListLoading"
                                    :data="borrowListPaging"
                                    border
                                    stripe
                                    :default-sort="{prop: 'createtime', order: 'descending'}">
                                <el-table-column
                                        fixed="left"
                                        prop="borrowid"
                                        label="借阅单号"
                                        sortable
                                        width="240">
                                </el-table-column>
                                <el-table-column
                                        prop="state"
                                        label="借阅状态"
                                        width="120">
                                    <template slot-scope="scope">
                                        <el-tag :type="borrowState(scope.row.state).type" disable-transitions>
                                            {{borrowState(scope.row.state).state}}
                                        </el-tag>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="bkname"
                                        label="书籍名称"
                                        width="150">
                                    <template slot-scope="scope">
                                        《{{scope.row.bkname}}》
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="bkid"
                                        label="书籍ID"
                                        width="120">
                                </el-table-column>
                                <el-table-column
                                        prop="time"
                                        label="借阅时间"
                                        width="90">
                                    <template slot-scope="scope" v-if="scope.row.time">
                                        {{scope.row.time}}天
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="timeleft"
                                        label="剩余时间"
                                        width="90">
                                    <template slot-scope="scope" v-if="scope.row.timeleft">
                                        {{scope.row.timeleft}}天
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="createtime"
                                        label="创建时间"
                                        width="160">
                                    <template slot-scope="scope">
                                        <el-input
                                                readonly
                                                placeholder="创建时间"
                                                suffix-icon="el-icon-date"
                                                :value="scope.row.createtime">
                                        </el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="limittime"
                                        label="归还期限"
                                        width="160">
                                    <template slot-scope="scope">
                                        <el-input
                                                readonly
                                                placeholder="归还期限"
                                                suffix-icon="el-icon-date"
                                                :value="scope.row.limittime">
                                        </el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="remark"
                                        label="备注"
                                        width="300">
                                </el-table-column>
                                <el-table-column
                                        prop="returntime"
                                        label="归还时间"
                                        width="160">
                                    <template slot-scope="scope">
                                        <el-input
                                                readonly
                                                placeholder="归还时间"
                                                suffix-icon="el-icon-date"
                                                :value="scope.row.returntime">
                                        </el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        width="150"
                                        fixed="right"
                                        align="center">
                                    <template slot="header">
                                        <el-row type="flex" align="middle">
                                            <el-col :span="24">操作</el-col>
                                        </el-row>
                                    </template>
                                    <template slot-scope="scope">
                                        <el-button type="text" size="small"
                                                   @click="bookListRowClickHandle(scope.row)">查看书籍
                                        </el-button>
                                        <!--改为只能由管理员执行归还操作-->
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-scrollbar>
                        <el-row class="m-paging" type="flex" align="middle" justify="space-between">
                            <el-col :span="12">
                                <el-pagination
                                        @size-change="borrowListSizeChangeHandle"
                                        @current-change="borrowListCurrentChangeHandle"
                                        :current-page="borrowListCurrentPage"
                                        :page-sizes="borrowListPageSizes"
                                        :page-size="borrowListPageSize"
                                        :hide-on-single-page="borrowListPageHideWhenSingle"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total="borrowListTotalSize">
                                </el-pagination>
                            </el-col>
                            <el-col :span="2">
                                <el-button :loading="refreshBorrowBTLoading" size="medium"
                                           icon="el-icon-refresh" type="text"
                                           @click="refreshBorrowListHandle"></el-button>
                                <el-button size="small" circle icon="el-icon-caret-top"
                                           style="color: var(--blue)"
                                           @click="backupHandle('borrowListScrollbar')"></el-button>
                            </el-col>
                        </el-row>
                    </div>
                </el-tab-pane>
                <el-tab-pane class="m-tabs_inline" name="查询书籍" label="查询书籍">
                    <div class="m-scrollbar-form-paging">
                        <el-scrollbar ref="bookListScrollbar" class="m-scrollbar">
                            <el-form :inline="true">
                                <el-form-item label="书籍名称">
                                    <el-input v-model="bookListSearch.bkname" placeholder="请输入书籍名称"></el-input>
                                </el-form-item>
                                <el-form-item label="作者">
                                    <el-input v-model="bookListSearch.atname" placeholder="请输入作者名称"></el-input>
                                </el-form-item>
                                <el-form-item label="筛选">
                                    <el-select v-model="bookListSearch.state" placeholder="状态">
                                        <el-option label="全部" value=""></el-option>
                                        <el-option label="在库" value="STORE"></el-option>
                                        <el-option label="借出" value="LEND"></el-option>
                                        <el-option label="未入库" value="NOTINCLUDE"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" :loading="bookListSearchBTLoading"
                                               @click="submitBookSearchHandle">查询书籍
                                    </el-button>
                                </el-form-item>
                            </el-form>
                            <el-table
                                    :data="bookListPaging"
                                    v-loading="bookListLoading"
                                    border
                                    stripe
                                    :default-sort="{prop: 'bkname', order: 'descending'}">
                                <el-table-column
                                        fixed="left"
                                        prop="bkid"
                                        label="书籍id"
                                        sortable
                                        width="150">
                                </el-table-column>
                                <el-table-column
                                        prop="bkname"
                                        label="书名"
                                        width="240">
                                    <template slot-scope="scope">
                                        《{{scope.row.bkname}}》
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="atname"
                                        label="作者"
                                        width="120">
                                </el-table-column>
                                <el-table-column
                                        prop="state"
                                        label="状态"
                                        width="120">
                                    <template slot-scope="scope">
                                        <el-tag :type="bookState(scope.row.state).type" disable-transitions>
                                            {{bookState(scope.row.state).state}}
                                        </el-tag>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="publisher"
                                        label="出版社"
                                        width="210">
                                </el-table-column>
                                <el-table-column
                                        prop="storedate"
                                        label="入库时间"
                                        width="150">
                                </el-table-column>
                                <el-table-column
                                        prop="binding"
                                        label="装订"
                                        width="90">
                                </el-table-column>
                                <el-table-column
                                        prop="language"
                                        label="语言"
                                        width="90">
                                </el-table-column>
                                <el-table-column
                                        prop="category"
                                        label="分类"
                                        width="120">
                                </el-table-column>
                                <el-table-column
                                        fixed="right"
                                        align="center"
                                        width="210">
                                    <template slot="header">
                                        <el-row type="flex" align="middle">
                                            <el-col :span="24">操作</el-col>
                                        </el-row>
                                    </template>
                                    <template slot-scope="scope">
                                        <el-button @click="bookListRowClickHandle(scope.row)" type="text" size="small">
                                            查看详情
                                        </el-button>
                                        <!-- v-if="scope.row.state == 'STORE'"-->
                                        <el-button v-if="scope.row.state == 'STORE'"
                                                   @click="createBorrowHandle(scope.row)"
                                                   type="text" size="small">
                                            登记借阅
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-scrollbar>
                        <el-row class="m-paging" type="flex" align="middle" justify="space-between">
                            <el-col :span="12">
                                <el-pagination
                                        @size-change="bookListSizeChangeHandle"
                                        @current-change="bookListCurrentChangeHandle"
                                        :current-page="bookListCurrentPage"
                                        :page-sizes="bookListPageSizes"
                                        :page-size="bookListPageSize"
                                        :hide-on-single-page="bookListPageHideWhenSingle"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total="bookListTotalSize">
                                </el-pagination>
                            </el-col>
                            <el-col :span="2">
                                <el-button icon="el-icon-refresh" size="medium" type="text"
                                           :loading="refreshBookBTLoading"
                                           @click="refreshBookListHandle"></el-button>
                                <el-button size="small" circle icon="el-icon-caret-top"
                                           style="color: var(--blue)"
                                           @click="backupHandle('bookListScrollbar')"></el-button>
                            </el-col>
                        </el-row>
                    </div>
                </el-tab-pane>
                <el-tab-pane class="m-tabs_inline" name="预约书籍" label="预约书籍">
                    <div class="m-book-reserve">
                        <el-row :gutter="5">
                            <el-col :span="12">
                                <el-form ref="bookReserveForm" :model="bookReserveForm" label-width="80px">
                                    <el-form-item label="ISBN">
                                        <el-input v-model="bookReserveForm.isbn" maxlength="13"
                                                  show-word-limit></el-input>
                                        <el-button :loading="isbnCheckBTLoading" type="text" @click="isbnCheckHandle">
                                            查询
                                        </el-button>
                                    </el-form-item>
                                    <el-form-item label="备注">
                                        <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 6}"
                                                  maxlength="300" show-word-limit resize="none"
                                                  v-model="bookReserveForm.remark"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="text" @click="formResetHandle('bookReserveForm')">重置
                                        </el-button>
                                        <el-button type="primary" @click="bookReserveFormSubmitHandle">提交预约
                                        </el-button>
                                    </el-form-item>
                                </el-form>
                            </el-col>
                            <el-col :span="12">
                                <div class="m-book-reserve-msg">
                                    <el-scrollbar class="m-scrollbar">
                                        <el-descriptions :column="1" border v-if="isbnCheckForm.load" title="书籍信息">
                                            <el-descriptions-item v-if="v" v-for="(v,k,i) in isbnCheckForm.data"
                                                                  :key="'isbnf'+ i" :label="k">{{v}}
                                            </el-descriptions-item>
                                            <el-empty v-if="isbnCheckForm.data" description="错误的isbn或未收录"></el-empty>
                                        </el-descriptions>
                                    </el-scrollbar>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </el-tab-pane>
        <el-tab-pane class="m-tabs" label="个人信息" name="个人信息">
            <el-breadcrumb class="m-breadcrumb" separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>当前位置</el-breadcrumb-item>
                <el-breadcrumb-item>{{tabIndex1}}</el-breadcrumb-item>
                <el-breadcrumb-item>{{tabIndex2}}</el-breadcrumb-item>
            </el-breadcrumb>
            <el-tabs v-model="tabIndex2" type="border-card" class="m-tab_inline">
                <el-tab-pane class="m-tabs_inline" name="基本信息" label="基本信息">
                    <div class="m-base-msg">
                        <el-scrollbar class="m-scrollbar">
                            <el-descriptions class="margin-top" v-if="user.load" title="基本资料" :column="2" border>
                                <template slot="extra">
                                    <el-button icon="el-icon-refresh" type="text"
                                               :loading="refreshUserBTLoading"
                                               @click="refreshUserMsgHandle"></el-button>
                                    <el-button type="text" size="small" @click="userUpdateDialogShowHandle">修改
                                    </el-button>
                                </template>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-user"></i>
                                        用户名
                                    </template>
                                    {{user.uid}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-male"></i>
                                        性别
                                    </template>
                                    {{genderState(user.gender).state}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-document"></i>
                                        昵称
                                    </template>
                                    {{user.name}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-mobile-phone"></i>
                                        手机号
                                    </template>
                                    {{user.call}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-house"></i>
                                        故乡
                                    </template>
                                    {{user.homeadd}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-office-building"></i>
                                        联系地址
                                    </template>
                                    {{user.presentadd}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-time"></i>
                                        创建时间
                                    </template>
                                    {{user.createdate}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-date"></i>
                                        出生年月
                                    </template>
                                    {{user.birth}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-view"></i>
                                        血型
                                    </template>
                                    {{user.bloodtype + "型"}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-postcard"></i>
                                        邮政编码
                                    </template>
                                    {{user.postcode}}
                                </el-descriptions-item>
                                <el-descriptions-item>
                                    <template slot="label">
                                        <i class="el-icon-message"></i>
                                        邮箱
                                    </template>
                                    {{user.email}}
                                </el-descriptions-item>
                            </el-descriptions>
                            <el-divider class="m-divider"></el-divider>
                        </el-scrollbar>
                    </div>
                </el-tab-pane>
                <el-tab-pane class="m-tabs_inline" name="修改头像" label="修改头像">
                    <div class="m-avatar-upload">
                        <div>
                            <el-button class="m-file-select" @click="selectFileHandle" type="primary">
                                <input type="file"
                                       class="m-file-select-bt"
                                       accept="image/*"
                                       @change="fileSelectChangeHandle"></input>
                                <i class="el-icon-picture">选择本地图片</i>
                            </el-button>
                        </div>
                        <div>
                            <div class="m-user-avatar" :style="{ backgroundImage: 'url(' + user.avatar + ')' }"></div>
                            <span>当前头像</span>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane class="m-tabs_inline" name="修改密码" label="修改密码">
                    <div class="m-passwd-update">
                        <el-form :model="passwordUpdateForm" status-icon size="medium"
                                 :rules="rules_passwordUpdateForm" ref="passwordUpdateForm"
                                 label-width="80px">
                            <el-form-item label="旧密码" prop="oldPassword">
                                <el-input type="oldPassword" v-model="passwordUpdateForm.oldPassword"
                                          autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="新密码" prop="password">
                                <el-input type="oldPassword" v-model="passwordUpdateForm.password"
                                          autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="确认密码" prop="checkPassword">
                                <el-input type="oldPassword" v-model="passwordUpdateForm.checkPassword"
                                          autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="验证码" prop="verifyCode">
                                <el-col :span="10">
                                    <el-input v-model.number="passwordUpdateForm.verifyCode"></el-input>
                                </el-col>
                                <el-col :offset="4" :span="8">
                                    <el-button :Loading="verifySendBTLoading" v-if="showSendButton" type="text"
                                               @click="passwordVerifyCodeSendHandle">发送验证码
                                    </el-button>
                                    <el-button v-if="!showSendButton" type="text">{{count}}s后重新获取</el-button>
                                </el-col>
                            </el-form-item>
                            <el-form-item>
                                <el-col :span="11">
                                    <el-button @click="formResetHandle('passwordUpdateForm')">重置</el-button>
                                </el-col>
                                <el-col :span="11">
                                    <el-button :loading="passwordUpdateBTLoading" type="primary"
                                               @click="passwordUpdateFormSubmitHandle">修改密码
                                    </el-button>
                                </el-col>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-tab-pane>
                <el-tab-pane class="m-tabs_inline" name="站内信息" label="站内信息">站内信息</el-tab-pane>
            </el-tabs>
        </el-tab-pane>
    </el-tabs>
    <el-dialog width="40%" title="修改个人信息" custom-class="m-dialog-radius" center :visible.sync="userUpdateDialogVisible">
        <el-form :model="userUpdateForm" :rules="rules_userUpdateForm" ref="userUpdateForm" label-position="left"
                 label-width="90px">
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="性别">
                        <el-select v-model="userUpdateForm.gender" placeholder="请选择性别">
                            <el-option label="男" value="MALE"></el-option>
                            <el-option label="女" value="FEMALE"></el-option>
                            <el-option label="隐藏" value="HIDE"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="出生年月">
                        <el-date-picker
                                v-model="userUpdateForm.birth"
                                value-format="yyyy-MM-dd"
                                format="yyyy-MM-dd"
                                type="date"
                                placeholder="选择日期">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="居住地">
                        <el-input type="textarea" resize="none" :rows="2" placeholder="请输入居住地"
                                  v-model="userUpdateForm.presentadd"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="联系地址">
                        <el-input type="textarea" resize="none" :rows="2" placeholder="请输入联系地址"
                                  v-model="userUpdateForm.homeadd"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="邮箱" prop="email">
                        <el-input placeholder="请输入邮箱地址" v-model="userUpdateForm.email"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="电话号码" prop="call">
                        <el-input placeholder="请输入电话号码" v-model="userUpdateForm.call"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="昵称" prop="name">
                        <el-input placeholder="请输入昵称" v-model="userUpdateForm.name"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="邮政编码">
                        <el-input placeholder="请输入邮政编码" v-model="userUpdateForm.postcode"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="血型">
                        <el-select v-model="userUpdateForm.bloodtype" placeholder="请选择血型">
                            <el-option label="A型" value="A"></el-option>
                            <el-option label="B型" value="B"></el-option>
                            <el-option label="AB型" value="AB"></el-option>
                            <el-option label="O型" value="O"></el-option>
                            <el-option label="RH型" value="RH"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="reloadUserUpdate('userUpdateForm')" type="text">重置</el-button>
            <el-button @click="userUpdateDialogHideHandle">取 消</el-button>
            <el-button type="primary" @click="userUpdateFormSubmitHandle">提交修改</el-button>
        </div>
    </el-dialog>
    <el-dialog top="5vh" width="50%" custom-class="m-dialog-radius" title="书籍详情" center
               :visible.sync="bookDetailsDialogVisible">
        <div class="m-book-details" v-if="bookDetails.load">
            <el-scrollbar class="m-scrollbar">
                <el-row :gutter="30">
                    <el-col :span="8">
                        <el-image class="m-book-details-img" fit="fill" v-if="bookDetails.imgs"
                                  :src="bookDetails.imgs[0]"
                                  :preview-src-list="bookDetails.imgs">
                            <div slot="error" class="image-slot">
                                <i class="el-icon-picture-outline">error</i>
                            </div>
                        </el-image>
                    </el-col>
                    <el-col :span="9">
                        <el-descriptions :column="1">
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="书名">
                                {{bookDetails.name}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="作者">
                                {{bookDetails.author}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="装订">
                                {{bookDetails.binding}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="页数">
                                {{bookDetails.page + '页'}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="分类">
                                {{bookDetails.category}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="语言">
                                {{bookDetails.language}}
                            </el-descriptions-item>
                        </el-descriptions>
                    </el-col>
                    <el-col :span="7">
                        <el-descriptions :column="1" title="入库信息">
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="ID">
                                {{bookDetails.bkid}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="入库时间">
                                {{bookDetails.storedate}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="状态">
                                <el-tag :type="bookState(bookDetails.state).type" disable-transitions>
                                    {{bookState(bookDetails.state).state}}
                                </el-tag>
                            </el-descriptions-item>
                        </el-descriptions>
                    </el-col>
                </el-row>
                <el-divider></el-divider>
                <el-row :gutter="10">
                    <el-col :span="24">
                        <el-descriptions :column="2" title="出版信息">
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="ISBN">
                                {{bookDetails.ISBN}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="ISBN(10)">
                                {{bookDetails.ISBN10}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="价格">
                                {{bookDetails.price + '元'}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="出版社">
                                {{bookDetails.publisher}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="出版地">
                                {{bookDetails.publishadd}}
                            </el-descriptions-item>
                            <el-descriptions-item label-class-name="m-book-details-label"
                                                  content-class-name="m-book-details-content" label="出版时间">
                                {{bookDetails.publishdate}}
                            </el-descriptions-item>
                        </el-descriptions>
                    </el-col>
                </el-row>
                <el-divider></el-divider>
                <el-descriptions :colon="false" :column="1" title="图书介绍">
                    <el-descriptions-item>
                        {{bookDetails.introduce}}
                    </el-descriptions-item>
                </el-descriptions>
            </el-scrollbar>
        </div>
    </el-dialog>
    <el-dialog top="5vh" width="50%" custom-class="m-dialog-radius" title="借阅书籍" center
               :visible.sync="borrowCreateDialogVisible">
        <div class="m-borrow-form">
            <el-scrollbar class="m-scrollbar">
                <el-form ref="borrowForm" :model="borrowForm" label-width="80px" label-position="top">
                    <el-form-item>
                        <el-tag slot="label">借阅人</el-tag>
                        <el-input
                                placeholder="请输入内容"
                                :value="user.name"
                                :disabled="true">
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="time" :rules="[{ required: true, message: '请选择借阅时长'}]">
                        <el-tag slot="label">借阅时长</el-tag>
                        <el-select v-model="borrowForm.time" placeholder="请选择借阅时长">
                            <el-option label="7天" :value="7"></el-option>
                            <el-option label="14天" :value="14"></el-option>
                            <el-option label="30天" :value="30"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-tag slot="label">借阅日期</el-tag>
                        <el-date-picker
                                :value="borrowForm.createdate"
                                format="yyyy-MM-dd"
                                type="date"
                                :disabled="true"
                                placeholder="借阅日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item>
                        <el-tag slot="label">书籍信息</el-tag>
                        <el-descriptions border>
                            <el-descriptions-item label="书名">{{borrowForm.bkname}}</el-descriptions-item>
                            <el-descriptions-item label="作者">{{borrowForm.atname}}</el-descriptions-item>
                            <el-descriptions-item label="装订">{{borrowForm.binding}}</el-descriptions-item>
                            <el-descriptions-item label="ID">{{borrowForm.bkid}}</el-descriptions-item>
                            <el-descriptions-item label="备注">{{borrowForm.bkremark}}</el-descriptions-item>
                        </el-descriptions>
                    </el-form-item>
                    <el-form-item>
                        <el-tag slot="label">备注</el-tag>
                        <el-input type="textarea" resize="none" :rows="4" maxlength="150" show-word-limit
                                  placeholder="在此输入备注" v-model="borrowForm.remark"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-tag slot="label">注意事项</el-tag>
                        <div class="m-tip-warning">
                            <p>1、请爱护图书，严禁乱涂乱画，保证图书完整。</p>
                            <p>2、借阅后请及时归还，防止丢失。</p>
                            <p>3、图书如有损坏丢失，照价赔偿。</p>
                        </div>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="createBorrowFormSubmitHandle">提交借阅</el-button>
                    </el-form-item>
                </el-form>
            </el-scrollbar>
        </div>
    </el-dialog>
    <el-dialog :close-on-click-modal="false" top="3vh" width="90%" custom-class="m-dialog-radius" title="查询座位" center
               :visible.sync="seatPickDialogVisible">
        <div class="m-seat-pick-cont">
            <div class="m-seat-pick">
                <el-scrollbar class="m-scrollbar">
                    <el-table
                            v-if="seats!=null"
                            :data="seats"
                            border
                            stripe>
                        <el-table-column
                                prop="number"
                                label="序号"
                                width="90"
                                :resizable="false">
                        </el-table-column>
                        <el-table-column
                                label="状态"
                                width="90"
                                :resizable="false">
                            <template slot-scope="scope">
                                {{seatState(scope.row.state).state}}
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="seatid"
                                label="座位号"
                                width="90"
                                :resizable="false">
                        </el-table-column>
                        <el-table-column
                                prop="createdate"
                                label="投入时间"
                                width="150"
                                :resizable="false">
                        </el-table-column>
                        <el-table-column width="180" label="" :resizable="false">
                            <template slot-scope="scope">
                                <el-button @click="reserveSeatHandle(scope.row)" type="primary">预约座位</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-scrollbar>
            </div>
            <div class="m-seat-show">
                <div class="m-pick-show-cont" ref="pickShow" v-drag v-zoom v-if="seats!=null && seats.length>0">
                    <div class="m-pick-show-row" v-if="room.seat!=null" v-for="(v,i) in room.seat"
                         :key="room.roomid+''+i">
                        <template v-if="v!=null" v-for="(vs,j) in v">
                            <el-tag
                                    v-if="vs-1 >= 0 && seats[vs-1]!=null"
                                    class="m-pick-show-item"
                                    :key="room.roomid+i+j"
                                    :type="seatState(seats[vs-1].state).type"
                                    @click="reserveSeatHandle(seats[vs-1])">
                                {{ seatState(seats[vs - 1].state).state}}
                            </el-tag>
                            <el-tag
                                    v-else
                                    class="m-pick-show-item"
                                    :key="room.roomid+i+''+j"
                                    type="info">
                                书架
                            </el-tag>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </el-dialog>
    <el-dialog top="5vh" width="50%" custom-class="m-dialog-radius" title="图片裁剪" center
               :visible.sync="avatarUploadDialogVisible" :close-on-click-modal="false">
        <div class="m-avatar-upload-dialog">
            <div class="m-avatar-cropper">
                <img id="image">
            </div>
            <div class="m-avatar-result">
                <div class="m-avatar-preview">
                    <div></div>
                    <div></div>
                </div>
                <div class="m-avatar-func">
                    <el-button-group>
                        <el-button type="primary" @click="imageRotateHandle(-45)"
                                   icon="el-icon-refresh-left">逆时旋转</el-button>
                        <el-button type="primary" @click="imageRotateHandle(45)"
                                   icon="el-icon-refresh-right">顺时旋转</el-button>
                    </el-button-group>
                    <el-button-group>
                        <el-button type="primary" icon="el-icon-arrow-up" @click="imageScaleXHandle">上下镜像</el-button>
                        <el-button type="primary" icon="el-icon-arrow-left" @click="imageScaleYHandle">左右镜像</el-button>
                    </el-button-group>
                    <el-button-group>
                        <el-button type="primary" icon="el-icon-refresh" @click="imageResetHandle">重置裁剪</el-button>
                        <el-button type="primary" icon="el-icon-check" @click="imageCropHandle">上传头像</el-button>
                    </el-button-group>
                </div>
            </div>
        </div>
    </el-dialog>
</div>
</body>
</html>